input[type="text"] {
  background-color: transparent;
}

textarea[type="text"] {
  background-color: transparent;
}
#design-info {
  display: none;
}
#development-info {
  display: none;
}
#product-info {
  display: none;
}
